body {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	font-weight: 100;
	padding: 0;
	color: #000;
}
h1 {
	padding-top: 50px;
	text-align: center;
	font-size: 60pt;
}
h2 {
	font-size: 35pt;
}
h1, h2, h3, .subtitle {
	text-align: center;
	font-weight: lighter;
	color: gray;

}

/*h1 {
	font-weight: 100;
	text-align: center;
	color: #f0f0f0;
	font-style: none;
	font-size: 3.5em;
	margin-bottom: 0px;
}*/
/*h2 {
	font-weight: 100;
	font-size: 2.5em;
	text-align: center;
	color: gray;
}
h3 {
	color: gray;
	font-weight: 100;
}*/
.subtitle {
	font-size: 2.3em;
	text-align: center;
	margin: 5px;
}
.no-bullet {
	list-style: none;
}

p {
	line-height: 90%;
	text-align: center;
	font-size: 15pt;
	color: gray;
}
.col-left {
  width: 40%;
  display: table-cell;
  border: 20px solid #f0f0f0;
  /* background-color: #8044bb; */
	background-color: #f0f0f0; 
}

.col-right {
  width: 40%;
  display: table-cell;
  border: 20px solid #f0f0f0;
  background-color: #f0f0f0;
  /* background-color: #44bb44; */ 
 }

.grid {
	padding: 10px;
	color: black;
	font-weight: normal;
	text-align: center;
}
.project {
	width: 50%;
	height: 200px;
}

.red {
	background-color: #ff0040;
}

/* Sections */
#about {
	padding: 20px;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}
#projects {
/*	background-color: #fff;*/
	width: 100%;
}