body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	background-color: #CE706D;
	padding: 0;
	margin: 0;
}
h1 {
	font-weight: 100;
	text-align: center;
	color: #333;
	font-style: none;
	font-size: 2.0em;
}
h2 {
	font-weight: 100;
	color: #333;
	font-size: 1.5em;
}
section.header {
	width: 100%;
	background-color: #CE706D;	
	clear: both;
	margin: 0;
}
.box_border {
	border: 1px solid #CE706D;
	color: #fff;
	font-size: 15pt;
}
.no-bullet {
	list-style: none;
}

/* ul.icons {
	top: 15px;
	right: 20px;
}
ul.icons li {
	float: left;
	position: relative;
	display: block;
	padding: 5px 10px 5px 10px;
}
*/

/* p {
	padding: 50px 10px 50px 10px;
	color: #fff;
	background-color: #a6a6a6;
	width: 125px;
	text-align: center;
	font-size: 12pt;
}
*/

p {
	line-height: 25px;
}
.col-left {
  width: 40%;
  display: table-cell;
  border: 20px solid #f0f0f0;
  /* background-color: #8044bb; */
	background-color: #f0f0f0; 
}

.col-right {
  width: 40%;
  display: table-cell;
  border: 20px solid #f0f0f0;
  background-color: #f0f0f0;
  /* background-color: #44bb44; */ 
 }

.row {
  width: 100%;
  clear: both;
  display: table-row; }

.story {
  width: 60%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto; }

.resources {
  width: 60%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto; }

