body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 100;
	background-color: #333;
	padding: 0;
	margin: 0;
}
h1 {
	font-weight: 100;
	text-align: center;
	color: #f0f0f0;
	font-style: none;
	font-size: 2.5em;
}
h2 {
	font-weight: 100;
	color: #f0f0f0;
	font-size: 1.5em;
}
.subtitle {
	color: #f0f0f0;
	font-size: 1.2em;
	text-align: center;
}
section.header {
	width: 100%;
	clear: both;
	margin: 0;
}
.box_border {
	border: 1px solid #CE706D;
	color: #fff;
	font-size: 15pt;
}
.no-bullet {
	list-style: none;
}

p {
	line-height: 25px;
}
.col-left {
  width: 40%;
  display: table-cell;
  border: 20px solid #f0f0f0;
  /* background-color: #8044bb; */
	background-color: #f0f0f0; 
}

.col-right {
  width: 40%;
  display: table-cell;
  border: 20px solid #f0f0f0;
  background-color: #f0f0f0;
  /* background-color: #44bb44; */ 
 }

.row {
  width: 100%;
  clear: both;
  display: table-row; }

.story {
  width: 60%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto; }

.resources {
  width: 60%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto; }

